@import "./node_modules/bulma/sass/utilities/mixins";
$breakpoint: 426px;

.section-all-articles {
  padding: 3rem;
  @include desktop {
    padding: 5rem;
    padding-top: 3rem
  }
  @include mobile {
    padding-top: 2.25rem;
  }
}

.list-all-articles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.article-item:hover {
  .title {
    text-decoration: underline;
    color: rgb(195, 13, 13);
  }
}

.article-item {
  .title {
    margin: 0;
    margin-bottom: 1rem;
    @include until($breakpoint){
      font-size: 1rem;
      margin-bottom: 0.25rem;;
    }
  }
  .subtitle {
    @include until($breakpoint){
      font-size: 0.75rem;
    }
  }
  .time{
    @include until($breakpoint){
      font-size: 0.75rem;
      display: flex;
    }
  }
}

.card {
  margin-bottom: 2rem;
}
