@import "./node_modules/bulma/sass/utilities/mixins";

.section-all-articles{
  margin : 3rem
}

.list-all-articles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

// .title{
//   @include touch {
//     font-size: 10px;
//   }
// }

.card {
margin-bottom: 2rem;
}
