@import "./node_modules/bulma/sass/utilities/mixins";
@import "./node_modules/bulma/sass/utilities/initial-variables.sass";

// $navbar-breakpoint: 0;
@import "./node_modules/bulma/bulma.sass";

.all-navbar {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @include desktop {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @include touch {
    overflow-x: hidden;
    padding-top: 1rem;
  }

  .container {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    @include touch {
      width: 64px;
      height: 64px;
    }

    .img {
      width: auto;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      mix-blend-mode: multiply;
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.2rem;
    font-size: 2.25rem;
    @include touch {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.75rem;
      line-height: 1.5rem;
    }
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-item {
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .navbar-button {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .burger {
    margin-right: 0;
  }
  .burger:hover {
    color: red;
  }

  .user-navbar {
    gap: 0.4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include desktop {
      padding-bottom: 0.2rem;
    }
    .element {
      align-items: center;
      display: inline-flex;
    }
    .p {
      color: black;
      display: inline-flex;
      align-items: center;
    }
  }
  .navbar-dropdown {
    @include touch {
      padding: 0;
    }
  }
  .navbar-start {
    @include desktop {
      margin-left: 1.5rem;
    }
    @include touch {
      .navbar-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    .p:hover {
      color: rgb(195, 13, 13);
    }
    .p:focus {
      color: rgb(195, 13, 13);
    }
    .p:active {
      color: rgb(195, 13, 13);
    }
  }
  .user-navbar:hover {
    .p {
      color: rgb(195, 13, 13);
    }
  }
}
